.terrain {
  display: flex;
  flex-wrap: wrap;
  background-color: #5fad65;
  width: 576px;
  height: 624px;
  border: 1px solid #65c36d;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
  animation: terrainHover 2s infinite;
  animation-direction: alternate-reverse;
  place-content: flex-start;
}

.terrainShadow {
  width: 576px;
  height: 624px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transform-origin: right bottom;
  animation: terrainShadowHover 2s infinite;
  animation-direction: alternate-reverse;
}

.terrainBottom {
  width: 575px;
  height: 48px;
  position: absolute;
  bottom: 0;
  left: -1px;
  background-color: #39693a;
  border-top: 1px solid #65c36d;
  border-right: 1px solid #39693a;
  border-left: 1px solid #39693a;
}

.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(59, 122, 185);
}

.tile {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #57b75f;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: background-color 0.1s ease, borderColor 0.1s ease;
}

.mapUnitsContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.playerUnitsContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.turnLabel {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  z-index: 9;
}

.green {
  color: rgb(136, 255, 107);
}

.red {
  color: rgb(255, 107, 107);
}

.blue {
  color: rgb(107, 180, 255);
}

.ripple {
  position: absolute;
  background-image: url("./ripple.jpg");
  background-size: auto;
  top: -12px;
  left: -12px;
  bottom: -12px;
  right: -12px;
  filter: url("#turbulence");
  opacity: 0.3;
}

@keyframes terrainHover {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  100% {
    transform: translate3d(0, 6px, 0);
  }
}

@keyframes terrainShadowHover {
  0% {
    transform: translate3d(22px, 30px, 0) scale3d(0.99, 0.93, 1);
  }
  100% {
    transform: translate3d(20px, 28px, 0) scale3d(1, 0.94, 1);
  }
}
