.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.matchesContainer {
  display: flex;
  flex-direction: column;
}

.match {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: #395d9e;
  margin-bottom: 12px;
  color: white;
}

.btnJoin {
  width: 100px;
  font-size: 18px;
}

.btnCreate {
  font-size: 24px;
}

.matchPlayers {
  width: 160px;
  background-color: #1d3850;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right {
  display: flex;
  margin-left: auto;
}
